<div>
	<div class="char">
		<h2 class="name cl{class}" title="Level {level} {race_n} {class_n}">{name}({level})</h2><h3 class="realm">{realm}</h3>
		<div class="inventar_links"> 
			<div class="item q"><a href="" title=""></a><span class="border"></span></div>
			<div class="item q"><a href="" title=""></a><span class="border"></span></div>
			<div class="item q"><a href="" title=""></a><span class="border"></span></div>
			<div class="item q"><a href="" title=""></a><span class="border"></span></div>
			<div class="item q"><a href="" title=""></a><span class="border"></span></div>
			<div class="item q"><a href="" title=""></a><span class="border"></span></div>
			<div class="item q"><a href="" title=""></a><span class="border"></span></div>
			<div class="item q"><a href="" title=""></a><span class="border"></span></div>
		</div>
		<div class="inventar_unten">
			<div class="item q"><a href="" title=""></a><span class="border"></span></div>
			<div class="item q"><a href="" title=""></a><span class="border"></span></div>
			<div class="item q"><a href="" title=""></a><span class="border"></span></div>
		</div>
		<div class="inventar_rechts">
			<div class="item q"><a href="" title=""></a><span class="border"></span></div>
			<div class="item q"><a href="" title=""></a><span class="border"></span></div>
			<div class="item q"><a href="" title=""></a><span class="border"></span></div>
			<div class="item q"><a href="" title=""></a><span class="border"></span></div>
			<div class="item q"><a href="" title=""></a><span class="border"></span></div>
			<div class="item q"><a href="" title=""></a><span class="border"></span></div>
			<div class="item q"><a href="" title=""></a><span class="border"></span></div>
			<div class="item q"><a href="" title=""></a><span class="border"></span></div>
		</div>
	</div>
	<div>
		<div class="stats">
			<h4>Basisatribute</h4>
			<span>Ausdauer<var>{stats.sta}</var></span>
			<span>Stärke<var>{stats.str}</var></span>
			<span>Beweglcihkeit<var>{stats.agi}</var></span>
			<span>Inteligenz<var>{stats.int}</var></span>
			<span>Willenskraft<var>{stats.spr}</var></span>
			<span>Meisterschaft<var>{stats.mastery}</var></span>
		</div>
		<div class="stats">
			<h4>Verteidigung</h4>
			<span>Leben<var>{stats.health}</var></span>
			<span>Rüstung<var>{stats.armor}</var></span>
			<span>Ausweichen<var>{stats.dodge}%</var></span>
			<span>Parieren<var>{stats.parry}%</var></span>
			<span>Blocken<var>{stats.block}%</var></span>
			<span>Abhärtung<var>{stats.resil}</var></span>
		</div>
		<div class="stats">
			<h4>Nahkampf</h4>
			<span>Schaden<var>{dmg}</var></span>
			<span>DPS<var>{dps}</var></span>
			<span>Angrifskraft<var>{stats.attackPower}</var></span>
			<span>Geschwindigkeit<var>{hitSpeed}</var></span>
			<span>Tempowertung<var>{stats.hasteRating}</var></span>
			<span>Trefferwertung<var>{stats.hitRating}</var></span>
			<span>kritiche Trefferwertung<var>{stats.critRating}</var></span>
			<span>Waffenkunde<var>{expertise}</var></span>
		</div>
		<div class="stats">
			
		</div>
		<div class="stats">
			<h4>Fernkamp</h4>
			<span>Schaden<var>{rdmg}</var></span>
			<span>DPS<var>{rdps}</var></span>
			<span>Angriffskraft<var>{stats.rangedAttackPower}</var></span>
			<span>Geschwindigkeit<var>{stats.rangedSpeed}</var></span>
		</div>
		<div class="stats">
			<h4>Zauber</h4>
			<span>Zaubermacht<var>{stats.spellPower}</var></span>
			
		</div>
		
	</div>
</div>