<table>
<tr>
<th>Realmanme</th>
<th>Typ</th>
<th>Status</th>
<th>Warteschlange</th>
</tr>
<tr>
<td>{name}</td>
<td>{type}</td>
<td>{status}</td>
<td>{queue}</td>
</tr>
{EXPLODE}
</table>
Für diesen Realm befinden sich {anz} Charaktere in der Datenbank:
{EXPLODE}
<table>
<tr>
<th>Name</th>
<th>Level</th>
<th>Rasse</th>
<th>Klasse</th>
<th>Geschlecht</th>
<th>Details</th>
</tr>
{EXPLODE}
<tr style="color:#000; background-color:{color};">
<td>{name}</td>
<td>{level}</td>
<td>{race}</td>
<td>{class}</td>
<td>{gender}</td>
<td><a href="?wow-char-{cID}"><img src="" alt ="Details"><a/></td>
</tr>
{EXPLODE}
</table>
