@charset "UTF-8";
span.name{
font-size:200%
}

div.item{
width:15px;
height:15px;
}
div.item a{
display:block;
border:3px;
}
div.q1{
}
div.q1 span.border{
	background-position:0 0;
}
div.q2{
}
div.q1 span.border{
	background-position:15px 0;
}
div.q3{
}
div.q4{
}

span.border{
background:url('../../images/wow_mod/items/border.png');
width:15px;
height:15px;
}

/* Klassenfarben */
.cl1{
	color:#C79C6E;
}
.cl2{
	color:F58CBA;
}
.cl3{
	color:#ABD473;
}
.cl4{
	color:#FFF569;
}
.cl5{
	color:#FFFFFF;
}
.cl6{
	color:#C41F3B;
}
.cl7{
	color:#0070DE;
}
.cl8{
	color:#69CCF0;
}
.cl9{
	color:#9482C9;
}
.cl11{
	color:#FF7D0A;
}
div.stats{
width:45%;
margin:5px;
}
div.stats:nth-child(odd){
	float:left;
}

div.stats:nth-child(even){
	float:left;
}

div.stats  span{
	display:block;
	position:relative;
}
div.stats  span var{
	position:absolute;
	right:0;
}
ul.klasslist{
	list-style:none inside;
}

ul.klasslist li{
	float:left;
}
ul.charlist{
	list-style:none inside;
}
ul.charlist ul ul li{
	float:left;
}